body,html { height: 98%; }

#questContainer {
	float: left;
	width: 40%;
	height: 100%;
}

#input {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}

#quest {
	text-align: center;
	border: red 0.1ex solid;
	font-size: 10em;
	margin: 0.1em auto 0 auto;
	width: 1em;
	line-height: 1.1em;
}

/*
#quest:after {
	display: block;
	font-size: 2rem;
	content: attr(title);
	line-height: 1em;
}
*/

#hint {
	display: block;
	font-size: 2em;
	margin: 1ex;
	padding: 0.3em;
	font-weight: 700;
}

#visual {
	margin: 0 1ex;
	padding: 0.3em;
	display: block;
	border: outset 1px;
	font-size: 2em;
	background-color: #00FF00;
}


.character {
	display: none;
}

/*
#characterUse {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	margin: 3em;
	width: 30%;
	white-space: normal;
}
*/

.characterUse {
	white-space: normal;
	display: block;
	margin: auto;
	font-size: 1.2em;
}

#characterHead {
	text-align: center;
}

#characterContainer {
	float: left;
	height: 100%;
	width: 30%;
}

#respond {
	padding: 0.5ex;
	margin-top: 1ex;
	border: 1px solid;
	background-color: #DDD;
	overflow-y: scroll;
	height: 60%;
	width: 80%;
	word-wrap: break-word;
	hyphens: auto;
}

#respond p {
	margin: 0.1ex 0 0.1ex 0;
}

#middleContainer {
	float: left;
	width: 30%;
	height: 100%;
}

.good { color: green; }
.bad { color: red; }
.iron { color: blue; }

